@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: #f5ecec;
    --white-10: rgba(245, 236, 236, 0.781);

    --black: #141313;

    --primary: #0038a8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

.btn {
    padding: 12px 45px;
    border-radius: 32px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 6%;
}

.logo  {
    width: 150px;
}

.nav-menu ul  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.item-menu {
    font-size: 1rem;
    transition: .5s ease-in-out;
}

.item-menu:hover {
    font-weight: bold;
    font-size: 1.1rem;
}

.btn-comprar {
    background-color: var(--black);
    font-size: 1rem;
    color: var(--white);
}

.btn-comprar:hover {
    background-color: rgb(34, 34, 34);
}

.menu-hamburguer {
    display: none;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .menu-hamburguer {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    .btn-comprar {
        display: none;
    }

    .nav-menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 100vh;
        width: 60%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 999;

        transition: right 0.3s ease-in-out;
    }

    .nav-menu.active ul {
        right: 0;
        background-color: #222;
        
    }
}


/* hero section */


.hero-section {
    height: 80vh;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
    background-image: url('/assets/images/clouds.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin:  0 2%;

    display: flex;

}

.airplane-img {
    position: absolute;
    z-index: 1;
    top: 38%;
    right: -33%;
    transform: translateY(-50%);
    width: 80%; 
    height: auto;
}

.content-hero {
    width: 55%;
    padding: 0% 4% 0 8%;
    margin: auto 0;
}

.content-hero h2 {
    text-transform: uppercase;
    font-size: 1.2rem;

}

.content-hero h1{
    font-size: 54px;
}

.content-more {
    width: 45%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.more {
    background-color: #fff;
    padding: 10px;
    border-radius: 12px 0 0 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.local-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: -30px;
    border: 2px solid var(--white);
    transition: .5s ease-in-out;   
    filter: brightness(90%);
}

.local-avatar:hover {
    transform: scale(1.05);
    border: 2px solid #fff;
    filter: brightness(100%);
}

.wrapper-more {
    display: flex;
    align-items: center;
}

.more-content {
    padding: 20px 20px 20px 40px;
    width: 100%;
    font-size: 14px;
}

.more-btn {
    width: 70%;
    margin: 0 0 0 auto;
    transition: 1s ease-in-out;
    font-weight: bold;
    color: var(--primary);
    border-radius: 12px;
    border: 1.5px solid #c3c4c5;
}

.more-btn:hover {
    background: linear-gradient( 90deg,#ffffff, #c1cde3, #93c2ed);  
}

.btn-group {
    margin-top: 40px;
}

.btn-action {
    background-color: var(--primary);
    color: var(--white);
    transition: .5s ease-in-out;
}

.btn-action:hover {
    background-color: var(--white);
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn-play {
    background-color: var(--white);
    color: var(--primary);
    padding: 10px;
    margin: auto 0;
    transition: .5s ease-in-out;
}

.btn-play:hover {
    background-color: var(--primary);
    color: var(--white);
}


.btn-play i {
    font-size: 18px;
}

@media screen and (max-width: 900px)  {
    .hero-section {
        display: block;
    }

    .content-hero {
        width: 100%;
        padding: 5%;
        text-align: center;
    }

    .airplane-img {
        display: absolute;
        top: 90%;
        right: 0%; 
    }

    .content-more {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5%;
        margin: 0 auto;
    }
    
    .more {
        border-radius: 16px;
    }

    .more-btn {
        margin: 0 auto;
    }

}

@media screen and (max-width: 500px) {
    .wrapper-more {
        display: block;
        text-align: center;
    }

    .airplane-img {
        display: absolute;
        top: 95%;
    }
}


/* sessão socials */

.section-socials {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 4% 2%;
}

.partners-img {
    width: 10%;
    filter: grayscale(100%);
    transition: 1s ease-in-out;
}

.partners-img:hover {
    filter: grayscale(0%);
}

.content-socials {
    padding: 10px 40px;
    border: 1px solid #d6d6d6;
    -webkit-box-shadow: 8px 8px 18px 4px #D6D6D6; 
    box-shadow: 8px 8px 18px 4px #D6D6D6;
    border-radius: 32px;
}

.content-socials i {
    font-size: 24px;
    padding: 5px;
    width: 40px;
    border: 1px solid #222;
    border-radius: 50%;
    transition: 1s ease-in-out;
    text-align: center; 
    -webkit-box-shadow: 8px 8px 10px 0px rgba(214,214,214,0.58); 
    box-shadow: 8px 8px 10px 0px rgba(214,214,214,0.58);
}

.content-socials i:hover {
    color: var(--white);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-color: transparent;
}

.content-socials .fa-whatsapp:hover {
    background-color: #25D366;
}

.content-socials .fa-instagram:hover {
    background-color: #E4405F;
}

.content-socials .fa-facebook:hover {
    background-color: #1877F2;
}

.content-socials .fa-phone-volume:hover {
    background-color: #881a9e;
}


.content-socials p {
    display: inline-block;
}
