* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6%;
}

.logo  {
    width: 150px;
}

.nav-menu ul  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}